  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#" (click)="toggleSidebar();"><span class='glyphicon glyphicon-th-list'
          *ngIf="!toggleStatus"></span>
            <span class='glyphicon glyphicon-remove'
                  *ngIf="toggleStatus"></span></a></li>
        </ul>
      </div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">AgroLytics</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#">History</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <li><a href="#" class="dropdown-toggle">Manage<span class="caret"></span></a></li>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </ul>
    </div>
    </div>
  </nav>
