  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#" [routerLink]="['home']" (click)="toggleSidebar();"><span class='glyphicon glyphicon-th-list'
          *ngIf="!toggleStatus"></span>
            <span class='glyphicon glyphicon-remove'
                  *ngIf="toggleStatus"></span></a></li>
        </ul>
      </div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Fāmā-Conn</a>
    </div>
    <div class="navbar-default">
      <!-- <ul class="nav navbar-nav">
        <li><a href="#">Favorites</a></li>
      </ul>
      <ul class="nav navbar-nav">
          <li><a href="#">Notifications</a></li>
      </ul>
      <ul class="nav navbar-nav">
          <li><a href="#">Bulk Buy</a></li>
      </ul>
      <ul class="nav navbar-nav">
          <li><a href="#">Bulk Sell</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']">Logout</a></li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/hello']">Hello {{username}}</a></li>
    </ul>     
    </div>
    </div>
  </nav>
