<app-header (toggle)="processToggle($event);"></app-header>
<!--<app-sidebar [ngClass]="{'sidebar-collapsed' : toggled === 'collapse'}"-->
             <!--[ngClass]="{'sidebar-expanded' : toggled === 'expand'}"></app-sidebar>-->
<app-sidebar class="sidebar-expanded" *ngIf="isToggled()"
(locateEmitter)="agroMap.refresh();"></app-sidebar>
<app-google-map [mapData]="data" #agroMap
 [ngClass]="{'main-collapsed': toggled === 'collapse'}"
                [ngClass]="{'main-expanded': toggled === 'expand'}"></app-google-map>
