<div *ngIf="lat && lng" class="container-fluid">
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="8">
<agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window [isOpen]="currentLocationOpen">
      <p><b>You are at:</b>{{place}}</p>
    </agm-info-window>
</agm-marker>
<div *ngIf="showFarmer">
<agm-marker [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="icon" (markerClick)="openThisLocation(i);" #marker
*ngFor="let location of locations; let i=index">
<agm-info-window [isOpen]="location.status">
<p><b>Farmer Name</b> : {{location.name}}</p>
<p><b>Location</b> : {{location.place}}</p>
<p><b>This farmer wants to rent out :</b></p>
    <span *ngIf="location.tractor">tractor 
        <img src="assets/tractor.jpg" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.tiller">
            tiller <img src="assets/tiller.jpg" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.labor">
            labourer <img src="assets/labourer.png" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.shredder">
            shredder <img src="assets/shredder.jpg" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.mower">
            mower <img src="assets/mower.jpg" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.trolley">
            trolley <img src="assets/trolley.jpg" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.sprayer">
            sprayer <img src="assets/sprayer.jpg" width="40px" height="40px"/>
    </span>
    <span *ngIf="location.land">
            land <img src="assets/land.jpg" width="40px" height="40px"/>
    </span>
    <br/><br/>
            <input type="button" class="btn btn-primary" value="Request Now" (click)="sendRequest(location.name, 'farmer');" [class.disabled]="location.requestButton"/>
            <input type="button" class="btn btn-success" value="Add To Favorites"/>
</agm-info-window>
</agm-marker>
</div>
<div *ngIf="showDealer">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="dealerIcon" (markerClick)="openThisLocation(i);" #marker
                *ngFor="let location of locations; let i=index">
                <agm-info-window [isOpen]="location.status">
                <p><b>Dealer Name</b> : {{location.name}}</p>
                <p><b>Location</b> : {{location.place}}</p>
                <br/><br/>
                <input type="button" class="btn btn-primary" value="Request Now" (click)="sendRequest(location.name, 'dealer');" [class.disabled]="location.requestButton"/>
                <input type="button" class="btn btn-success" value="Add To Favorites"/>
                </agm-info-window>
        </agm-marker>        
</div>
<div *ngIf="showShops">
                <agm-marker [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="shopIcon" (markerClick)="openThisLocation(i);" #marker
                        *ngFor="let location of locations; let i=index">
                        <agm-info-window [isOpen]="location.status">
                        <p><b>ShopKeeper Name</b> : {{location.name}}</p>
                        <p><b>Location</b> : {{location.place}}</p>
                        <br/><br/>
                        <input type="button" class="btn btn-primary" value="Request Now" (click)="sendRequest(location.name, 'shop');" [class.disabled]="location.requestButton"/>
                        <input type="button" class="btn btn-success" value="Add To Favorites"/>
                        </agm-info-window>
                </agm-marker>        
        </div>
</agm-map>
</div>

